@model IEnumerable<comp2007_assignment1.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table">

@foreach (var p in Model)
{
    <tr>
		<td>
			<h3>
				@Html.ActionLink(p.ProjectName, "Details", new { id = p.ProjectID })
			</h3>
			<p>Project Lead: @Html.DisplayFor(modelItem => p.ProjectLead)</p>
			<p>
				@{
					if (p.Description.Length >= 100)
					{
						string excerpt = p.Description.Substring(0, 100) + "...";
						@Html.DisplayFor(modelItem => excerpt);
					}
					else
					{
						@Html.DisplayFor(modelItem => p.Description);
					}
				}
			</p>
		</td>

	</tr>
}

</table>
